  p{ 
        font-family: Roboto;
        margin-top: 0;
        margin-bottom: 0;
    }

    .text{ 
        font-family:Roboto;
        font-size:30px;
        font-weight: bold;
        width: 400px;
        line-height: 26px;
        margin-bottom: 2px;
}
    .stats{
        font-family: Roboto;
        font-size: 16px;
        font-color: rgb(96, 96, 96);
        margin-bottom: 20px;
        margin-top: 18px;
    }

    .person {
        font-family: Roboto;
        font-color: rgb(96, 96, 96);
        font-size: 16px;
        margin-top: 0px;
        font-weight:bold;
        margin-bottom: 22px;
    }
    
    .yap{
        font-family: Roboto;
        font-size: 16px;
        font-style: bold;
        color: rgb(96, 96, 96);
        width: 380px;
        line-height: 22px;
        font-weight: bold;
    }

    .moreyap {
        font-size: 16px;
        margin-top: 150px;
        margin-bottom: 20px;
        background-color: red;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
        color: white;
    }

    .link{
        cursor:pointer;

    }

    .link:hover{
        text-decoration: underline;
    }

    
.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}